/* Container */
.home-container {
  padding: 20px;
  text-align: center;
}

/* Title */
.page-title {
  margin-bottom: 20px;
  font-size: 35px;
  color: #222;
}

/* Search Bar */
.search-box {
  padding: 10px 15px;
  width: 300px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #bbb;
  margin-bottom: 25px;
}

/* Grid layout */
.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px;
  margin-top: 20px;
  padding: 10px;
}

/* Card */
.movie-card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  padding: 15px;
  text-align: left;
  transition: transform 0.2s ease;
}

.movie-card:hover {
  transform: translateY(-5px);
}

/* Poster */
.movie-poster {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}

/* Titles */
.movie-title {
  font-size: 22px;
  margin: 10px 0;
  color: #333;
}

/* Genre & Description */
.movie-genre,
.movie-desc {
  font-size: 15px;
  margin-bottom: 8px;
  color: #555;
}

/* Buttons */
.card-buttons {
    width: 100%;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.edit-btn,
.delete-btn {
    width: 45%;
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: white;
  font-size: 14px;
}

.edit-btn {
  background: #0077ff;
}

.edit-btn:hover {
  background: #005fcc;
}

.delete-btn {
  background: #e63946;
}

.delete-btn:hover {
  background: #c61f2a;
}
