*
{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.mainApp
{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.navbar
{
  width: 20%;
  border-right: 2px solid rgb(158, 158, 158);
}
.tweets
{
  padding: 10px 20px;
  width: 50%;
}
.home
{
  width: 30%;
  border-left: 2px solid rgb(158, 158, 158);
}
