.navbarMain
{
    padding: 30px 20px;
    width: 80%;
    margin: auto;
}
.navbarMain img
{
    width: 40px;
    height: 40px;
    margin-bottom: 40px;
}
.listNavbar ul li i
{
    font-size: 20px;
    margin-right: 20px;
}
.listNavbar ul li 
{
    margin-bottom: 20px;
    display: flex;
    align-content: center;
    list-style: none;
}
.listNavbar ul li a
{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: black;
    text-decoration: none;
    transition: 0.5s;
}
.listNavbar ul li a:hover
{
    color: #1DA1F2;
}

.navbarMain button
{
    border-radius: 50px;
    border:none;
    background-color: #1DA1F2;
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
    width: 100%;
    height: 40px;
}