*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    overflow: hidden;
}
.main
{
    width: 100%;
    height: 100vh;
    display: flex;
}

.nav
{
    width: 15%;
    padding: 60px 0px;
    background-color: #14273A;
    border-right: 2px solid #14273A;
}

.content
{
    width: 85%;
}

.content .heading
{
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #14273A;
}

.content .heading h1
{
    color: white;
}

.content .heading button
{
    background-color: #FF5722;
    border: none;
    height: 60px;
    width: 80px;
    font-size: 30px;
    color: white;
    line-height: 60px;
    margin-right: 20px;
}

.content .heading img
{
    margin-right: 15px;
    width: 30px;
    height: 30px;
}

.content .bodyContent
{
    height: 700px;
    overflow: auto;
    padding: 30px 50px;
}